## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Punta Arenas,CL,48.31,light rain,-53.1500,-70.9167,Hotel Hain
1,1,Mataura,NZ,56.48,overcast clouds,-46.1927,168.8643,Ellie's Villa
2,2,Codrington,AU,58.50,overcast clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
3,3,Richards Bay,ZA,79.09,few clouds,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
4,4,Muncar,ID,75.54,broken clouds,-8.4333,114.3333,Zaky Homestay

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Tezu")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Tezu")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Malihabad")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Dwarka")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Nagapattinam")]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
225,315,Tezu,IN,54.91,scattered clouds,27.9167,96.1667,Circuit House

In [64]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
##Using to-numpy function
start1 = vacation_start[["Lat","Lng"]].to_numpy()
end1 = vacation_end[["Lat","Lng"]].to_numpy()
stop11 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop22 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop33 = vacation_stop3[["Lat","Lng"]].to_numpy()

##Using list indexing
start=start1[0]
end=end1[0]
stop1=stop11[0]
stop2=stop22[0]
stop3=stop33[0]

In [66]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
India_trip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(India_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,315,Tezu,IN,54.91,scattered clouds,27.9167,96.1667,Circuit House
1,248,Malihabad,IN,55.31,clear sky,26.9167,80.7167,Maharaja nursery
2,654,Dwarka,IN,73.45,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort
3,208,Nagapattinam,IN,73.83,clear sky,10.7667,79.8333,Sathya Lodge

In [68]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [69]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))